@charset"utf-8";
* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	outline: 0px;
	border: 0px;
	box-sizing: border-box;
	border: 1px solid #999;
}
.content
{
	background-color: #eee;
	padding: 20px;
	overflow: auto;
}
.team
{
	background-color: #fff;	
	width: 200px;
	float: left;
	/*padding: 20px;*/
}
.introduce
{
	background-color: #fff;
	padding: 20px;
	margin-left: 220px;
	margin-right: 140px;
}
.people
{
	background-color: #fff;
	width: 120px;
	float: right;
	/*padding: 20px;*/
}
.logobox
{
	background-color: #eee;
	width: 80px;
	height: 80px;
	margin: 20px;
	padding: 20px;
}
#mainlogo
{
	display: inline-block;
}